.about-section {
  padding: 100px 50px;
}

body {
  background-image: url("../../assets/portfolio-image.avif");
}

.h2-about {
  text-align: center;
}

.about-paragraph {
  text-align: center;
  margin: 20px 15px;
  display: flex;
}
