.navbar {
  display: flex;
  justify-content: space-between;
}

li {
  display: flex;
  list-style: none;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: bisque;
}

.contact-margin {
  margin-right: 20px;
}
