.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323030;
  text-align: center;
  background-image: url("../../assets/photo-1496181133206-80ce9b88a853.avif");
}

.hero-content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  color: black;
}

.reveal.active .hero-content {
  opacity: 1;
  transform: translateY(0);
}

.typing-text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  white-space: nowrap;
  border-right: 2px solid white;
  overflow: hidden;
  animation: blink 0.7s step-end infinite;
  color: #7bbd11;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(231, 173, 173);
  }
}

.social-icons a {
  margin: 0 15px;
  color: #7bbd11;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1088b4;
}
